.container {
  display: inline-block;
  width: 300px;
}

h1 {
  color: lightgray;
  text-align: center;
}

.box {
  border-radius: 5px;
  height: 40px;
  margin: 0 auto;
  width: 80px;
}

.box:hover {
  transform: scale(2);
}

.box1 {
  background: mediumturquoise;
}

.box2 {
  background: #2b3f53;
  transition: transform 1s linear 0.5s;
}
