* {
    margin: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #fbffd5;

    display: grid;

    /* rows / columns */
    /* grid-template: 1fr 1fr 1fr 1fr / 2fr 1fr; */
    grid-template: repeat(4, 1fr) / 2fr 1fr;
    
    /* You can also use named areas, like below*/
    /* grid-template-areas: "logo image"
    "article image"
    "article image"
    "article image" */
}

.gridItemOne {
    grid-area: 1 / 2 / 5 / 3;
    /* You can also use named areas, by making a template in container*/
    /* grid-area: image; */
    background-color: red;
    overflow: hidden;
}

.gridItemTwo {
    /* rowstart / colstart / rowend / colend */
    grid-area: 1 / 1 / 2 / 2;
    /* You can also use named areas, by making a template in container*/
    /* grid-area: logo; */
    background-color: blue;
    justify-self: end;
    width: 50%;
}

.gridItemFour {
    /* rowstart / colstart / rowend / colend */
    grid-area: 1 / 1 / 2 / 2;
    /* You can also use named areas, by making a template in container*/
    /* grid-area: logo; */
    background-color: red;
    justify-self: start;
    width: 50%;
}

.gridItemThree {
    grid-area: 2 / 1 / 5 / 2;
    /* You can also use named areas, by making a template in container*/
    /* grid-area: article; */
    background-color: pink;
}

img { 
    width: 100%;
}

/* The above code can also have grid areas that are named instead! */



