/* ----------Demonstration One ----*/
/* Selectors */

/* type selector */
section {
    background-color: lightblue;
    padding: 5%;
    margin: 0%;
    width: 30%;
    display: inline-block;
    align-items: stretch;
}

/* spaces children of elements  */
section img {
    width: 250px;
    height: 200px;
    border-radius: 50%;
}

/* universal selector */
* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

section * {
    color: #ffffff;
}

/* class selector and multiple selectors */
.heading {
    text-shadow: 1px 1px #231283;
}

.dogDescription, .heading {
    color: rgb(68, 68, 68);
}

/* chaining */
h1.heading {
    background-color: lightgoldenrodyellow;
    color: rgb(192, 136, 16);
    margin-bottom: 5px;
}

/* id selector */
#headerImage {
    width: 100%;
}

/* [attributes] */
img[src="images/dog2.jpg"] {
    border: 1px blue solid;
}

/* pseudoclasses */
img:hover {
    opacity: 0.5;
}

/* presedence - the below code does not change for the more specific ones*/
* {
    color: red;
    /* color: red !important; */
}
/* I will now comment in the style sheet override.css to the HTML file */







